@font-face {
    font-family: infilaxy;
    src: url(fonts/infilaxyFULL.ttf);
}


@keyframes text-glow {
    0% {color: #888}
    100% {color: #fff}
}

@keyframes block-bg-glow {
    0% { background-color: hsla(0, 0%, 100%, 0.08); }
    100% { background-color: hsla(0, 0%, 0%, 0.18); }
};

@keyframes swaying {
    0%, 100% {
        position: relative;
        left: 0;
    }
    33% {
        left: -1rem;
    }
    66% {
        left: 1rem; /*0.4rem*/
    }
}

:root {
    font-size: 40px;
    color: #b5b5b5;
    font-family: "Times New Roman", Times, serif;
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
    background-color: black;
    animation: bg-glow 5s ease-in-out 0s infinite alternate both;

    @keyframes bg-glow {
        0% { background-color: #050505; }
        100% { background-color: #1b1b1b; }
    }
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.3);
    height: 2rem;
    transition: 
        height 1.2s cubic-bezier(.6,.25,.08,.95) 5ms,
        background-color 2.2s;
 
    h1 {
        margin-top: 0.1rem;
        color: #fff;
        font-size: 60px;
        transition: all 0.4s 0.2s;
    }

    @keyframes nightfall {
        0% {
            height: 2rem;
            background-color: hsla(0, 0%, 0%, 0.3);
            h1 {
                margin-top: 0.1rem;
                color: #fff;
                scale: 100%;
            };
        }
        10% {
            h1 {
                margin: 0;
                scale: 120%;
            };
        }
        25 % {
            h1 {
                margin: 0;
                color: hsla(0, 0%, 0%, 0);
                scale: 0%;
            };
        }
        100% {
            height:100%;
            background-color: #000;
        }
    }
}

#header, .flexbox-container {
    padding: 0.4em 0 0.2em;
}

#header:hover {
    height: calc(2rem + 10%);
    background-color: hsla(0, 0%, 0%, 0.6);
    
    h1 {
        margin: 0;
        scale: 120%;
    }
}

#header:active {
    height: 100%;
    background-color: #000;

    h1 {
        color: hsla(0, 0%, 0%, 0);
        scale: 0%;
    }
}

.block {
    max-width: 640px;
    margin: 5rem auto -3rem;
    padding: 30px 80px;
}

.fineborder {
    margin: 0.6rem auto;
    background: hsla(0, 0%, 20%, 0.25);
    border: 10px double #fff;
    border-radius: 2em;
    box-shadow: 0 0 10px #fff;
}

.flexbox-container {
    font-size: inherit;
    width: 100%;
    max-width: 800px;
    display: flex;
    align-self: center;
    align-items: center;
}

.flexbox-container * {
    display: block;
    align-self: stretch;
}

.infilaxy {
    color: inherit;
    font-family: infilaxy, monospace;
}

.infilaxy:hover {
    font-family: monospace;
}

a.no-underline {
    color: inherit;
    text-decoration: none;
    text-shadow: inherit;
}

a.no-underline:hover {
    font-family: infilaxy, monospace;
    text-decoration: none;
    text-shadow: inherit;
    animation: text-glow 2s both infinite alternate-reverse;
}


h1 {
    color: #eee;
    font-size: 80px;
    text-align: center;
    text-shadow: 0 0 8px #bbb;
    margin: 0;
}

h2 {
    color: #353535;
    font-size: 25px;
    text-align: center;
    text-shadow: 0 0 10px #111;
    margin: 10px 0 0;
}

ol {
    list-style-position: outside;
}

p, li {
    font-size: 1rem;
    text-indent: 1rem;
    text-align: justify;
    text-shadow: 0 0 0.09em #777;
    margin: 1rem 0;
    font-family: sans-serif;
}


img {
    background-color: #000;
    max-height: 12rem;
    max-width: fit-content(70%);
    margin: 20px 0px;
    display: block;
    transition: all 0.5s cubic-bezier(.52,.74,.08,.95);
    animation: swaying 1s infinite;
}

img:active {
    display: relative;
    z-index: 10;
    scale: 120%;
    box-shadow: 0 0.5rem 2rem #000;
}


button {
    font-size: 1em;
    border-radius: 2em;
    border: none;
    scale: 90%;
    padding: 0.5em 0.75em;
    font-weight: bold;
    transition: all 0.3s, scale 0.4s cubic-bezier(.52,.74,.08,.95), border-radius 0.3s;
}

button:hover {
    scale: 100%;
}

button:active {
    scale: 12%;
    color: hsla(0, 0%, 0%, 0);
    border-radius: 5em;
    animation: swaying 1s /*0.14s*/ ease-in-out 0.2s infinite;
}


a {
    color: #777;
    font-family: inherit;
    text-decoration: underline solid 2px;
    text-shadow: 0 0 0.08em #585858;
}

a:visited {
    color: inherit;
    columns: inherit;
    text-shadow: inherit;
    
}

a:hover {
    text-decoration: underline dashed 2px;
    animation: text-glow 2s both infinite alternate;
}

a:hover:visited {
    animation: text-glow 2s both infinite alternate;
}

a:active {
    color: #aaa;
    font-family: infilaxy, monospace;
    /*text-decoration: none;*/
}

.easteregg, .easteregg * {
    font-family: monospace;
    height: 0px;
    font-size: 6px;
    color: hsla(0, 0%, 20%, 0.2);
    text-align: center;
    text-decoration: none;
    scale: 100%;
    transition: all 0.2s cubic-bezier(.53,.29,.26,1.65);
}

.easteregg a:hover {
    color: #444;
    padding: 40px 50px 0;
    background-color: hsla(0, 0%, 0%, 0.85);
    text-shadow: 0 0 50px #555;
    text-decoration: underline dashed 5px;
    font-size: 100px;
    border: dashed 5px #777;
    border-radius: 100px;
}

.easteregg a:active {
    font-family: monospace;
    color: #fff;
    text-shadow: 0 0 50px #ccc;
    background-color: hsla(0, 0%, 0%, 0.9);
    border-color: #aaa;
    text-decoration: underline dotted 5px;
    scale: 110%;
}


.testik {
    background-color: #997c66;
    position: fixed;
    bottom: 10px;
    width: 16.3cm;
    height: 4cm;
    border-radius: 3cm;
    border: 2px dashed #fff;
    transition: width 3.5s 5ms, height 4s, border-radius 4s, background-color 5s;
}

.testik:hover {
    width: 45cm;
    height: 6cm;
    border-radius: 3cm;
    background-color: #3f1a2b;
}