:root {
    --btn-l: 5;
}


/*           BUTTON           */

.btn {
    user-select: none;
    height: var(--btn-size);
    min-width: var(--btn-size);
    width: fit-content;
    border-radius: var(--btn-size);
    
    will-change: transform;
    transition:
            0.09s transform ease-in 0.09s,
            0.1s background ease-in,
            0.1s box-shadow ease-in 0.1s,
            0s z-index 0.42s;
    
    /**/
    @media(hover: hover) {
    /**/
        &:hover {
            z-index: calc((var(--btn-l) * 10) + 2);
            transform: scale(1.2);
        
            background: var(--block-bg-grad-hover);
            box-shadow:
                0 0
                var(--btn-size)
                hsl( var(--m-hue), calc(var(--m-sat) * 0.4), calc(var(--m-lum) * 0.2) );
        
            transition:
                0.09s transform ease-in 0.09s,
                0.1s background ease-in,
                0.1s box-shadow ease-in 0.1s,
                0s z-index;
        }
    /**/
    }
    /**/
    
    
    &:active {
        
        transform: scale(0.5);
        
        background: var(--block-bg-grad-active);
        box-shadow:
            0 0
            calc(var(--btn-size) * 1.5)
            hsl( var(--m-hue), calc(var(--m-sat) * 0.8), calc(var(--m-lum) * 0.7) );
        
        transition:
            0.09s transform ease-in 0.09s,
            0.1s background ease-in,
            0.1s box-shadow ease-in 0.1s,
            0s z-index;
        
    }
    
    
    /*            RING            */
    
    & > .inner-ring {
        
        border-radius: var(--ring-size);
        padding: 0;
        
        &::before {
            
            transition:
                0.8s background ease-in;
                
        }
        
        transition:
            0.2s box-shadow ease-in 0.1s,
            0.06s width ease-in 0.06s,
            0.06s height ease-in 0.06s;
        
    }
    
    /**/
    @media(hover: hover) {
    /**/
        &:hover > .inner-ring {
            
            width: calc(100% - (var(--btn-size) - var(--ring-size)) * (1 / -1.1));
            height: calc(100% - (var(--btn-size) - var(--ring-size)) * (1 / -1.1));
            
            filter:
                drop-shadow(
                    0
                    calc(var(--icon-size) * 0.05)
                    0
                    hsl(var(--m-hue), calc(var(--m-sat) * 0.3), calc(var(--m-lum) * 0.2))
            );
            
            box-shadow:
                0 0
                calc(var(--ring-size) * 0.5)
                hsl(var(--m-hue), calc(var(--m-sat) * 0.6), calc(var(--m-lum) * 0.6)),
                inset 0 0
                calc(var(--ring-size) * 0.5)
                hsl(var(--m-hue), calc(var(--m-sat) * 0.6), calc(var(--m-lum) * 0.6));
            
            transition:
                0.2s box-shadow ease-in 0.1s,
                0.06s width ease-in 0.06s,
                0.06s height ease-in 0.06s;  
        }
    /**/
    }
    /**/
    
    
    &:active > .inner-ring {
        
        width: calc(100% - (var(--btn-size) - var(--ring-size)) * (1 / 0.4));
        height: calc(100% - (var(--btn-size) - var(--ring-size)) * (1 / 0.4));
        box-shadow:
            0 0
            calc(var(--ring-size) * 0.5)
            hsl(var(--m-hue), calc(var(--m-sat) * 0.6), calc(var(--m-lum) * 0.8)),
            inset 0 0
            calc(var(--ring-size) * 0.5)
            hsl(var(--m-hue), calc(var(--m-sat) * 0.6), calc(var(--m-lum) * 0.8));
            
        transition:
            0.2s box-shadow ease-in 0.1s,
            0.06s width ease-in 0.06s,
            0.06s height ease-in 0.06s;
            
    }
    
    
    /*            ICON            */
            
    & > .inner-ring > .icon {
        
        z-index: calc((var(--btn-l) * 10) + 4);
        
        filter:
            drop-shadow(
                0 0 0
                transparent
            );
        
        will-change: transform, opacity, filter;
        transition:
            0.03s transform ease-in,
            0.12s opacity ease-in 0.05s,
            0.2s color ease-in 0.1s,
            0.2s filter ease-in 0.1s;
            
   }
    
    /**/
    @media(hover: hover) {
    /**/
        &:hover > .inner-ring > .icon {
            position: relative;
            
            transform: scale(1.21);
            color: hsl(var(--m-hue), calc(var(--m-sat) * 0.4), calc(var(--m-lum) * 0.8));
        
            filter:
                drop-shadow(
                    0
                    calc(var(--icon-size) * 0.05)
                    0
                    hsl(var(--m-hue), calc(var(--m-sat) * 0.3), calc(var(--m-lum) * 0.2))
            );
            
            transition:
                0.03s transform ease-in,
                0.12s opacity ease-in 0.05s,
                0.2s color ease-in 0.1s,
                0.2s filter ease-in 0.1s
                0s position 0.3s;
        }
    /**/
    }
    /**/
    
    
    &:active > .inner-ring > .icon {
        
        transform: scale(0.32);
        opacity: 0;
        
        transition:
            0.06s transform ease-in,
            0.12s opacity ease-in,
            0.2s color ease-in 0.1s,
            0.2s filter ease-in 0.1s;
            
    }
    
}



/*          DISABLED          */

.disabled {
    
    transform: scale(0.8);
    
    pointer-events: none;
    
    background: var(--btn-bg-grad-disabled);
    
    
    /*         DIS RING          */
            
    & > .inner-ring {
        
        box-shadow: none;
        
        &::before {
            
            border-radius: var(--ring-size);
            border: var(--brd-size) solid transparent;
        
            background:
                var(--dis-grad) border-box;
            
            transition:
                0.8s background ease-in;
                
        }
        
        transition:
            0.2s box-shadow ease-in 0.1s,
            0.06s transform ease-in 0.06s;
            
    }
    
    
    /*         DIS ICON          */
    
    & > .inner-ring > .icon {
        
        svg {
            fill: url(#dis-grad) !important;
        }
        
        transform: scale(0.8);
        
    }
    
}