.character {
    z-index: 90;
    display: grid;
    place-content: center;
    user-select: none;
    position: fixed;
    bottom: 10vh;
    height: min(35vh, 35vw);
    width: min(35vh, 35vw);
}


#infi {
    left: min(10vh, 10vw);
    background: yellow;
    
    & .face {
        color: #fff;
        background: #000;
        border-color: #fff;
    }
    
    & .tail {
        fill: #000;
        stroke: #fff;
    }
}


#virko {
    right: min(10vh, 10vw);
    background: brown;
    
    /*& .face {
        color: turquoise;
        background: brown;
        border-color: turquoise;
    }
    
    & .tail {
        fill: brown;
        stroke: turquoise;
    }*/
}