:root {
    --cho-size: min(20vh, 20vw);
}

#choice {
    user-select: none;
    
    display: grid;
    place-content: center;
    
    position: fixed;
    z-index: 2010;
    bottom: 1vh;
    left: calc(50vw - var(--cho-size) / 2);
    
    width: var(--cho-size);
    height: var(--cho-size);
    border-radius: calc(var(--cho-size) * 40);
    background: #000;
    
    color: #fff;
    font-size: 2rem;
    
    transition: all 0.4s ease-out, top 0.8s cubic-bezier(0.4, 0.2, 0.5, 1.2);
}

#choice::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2000;
    width: var(--cho-size);
    height: var(--cho-size);
    border-radius: var(--cho-size);
    background: #000;
    filter: opacity(60%);
    
    will-change: transform;
    transition: all 0.4s ease-out;
}

#chip {
    touch-action: none;
    
    position: relative;
    z-index: 2020;
    width: calc(var(--cho-size) * 0.8);
    height: calc(var(--cho-size) * 0.8);
    
    border-radius: calc(var(--cho-size) * 1.3);
    background: #555;
    background-clip: padding-box;
    border: calc(var(--cho-size) * 0.5) solid transparent;
    
    place-content: center;
    text-align: center;
}

#chip::before {
    content: "...";
}

#cho-menu {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;
    
    transition: all 0.3s ease-in;
}

#cho-wheel {
    position: fixed;
    z-index: 2010;
    
    /**/
    border: 2px solid red;
    /**/
    
    /**/
    fill: fill: rgba(128, 128, 128, 0.5);
    /**
    stroke: red;
    stroke-width: 2px;
    /**/
}

.cho-field {
    /**
    height: var(--cho-size);
    width: calc(var(--cho-size) * 2);
    
    color: #fff;
    place-content: center;
    text-align: center;
    /**/
}

#cho-text {
    position: fixed;
    inset: 0;
    text-shadow: 0 0 5px #f55;
    place-content: center;
    text-align: center;
}