:root {
    --m-hue: 0;
    --m-sat: 0%;
    --m-lum: 82.5%;
    --m-color: hsl( var(--m-hue) var(--m-sat) var(--m-lum) );
    --cur-color: var(--m-color);
    --cur-color2: hsl( from var(--cur-color) h calc(s * 1.2) calc(l * 0.7) );
    --cur-color3: hsl( from var(--cur-color) h calc(s * 1.8) calc(l * 0.4) );
    --cur-color4: hsl( from var(--cur-color) h calc(s * 2) calc(l * 0.2) );
    
    --bg-grad:
        radial-gradient(
            ellipse 85% 85%,
            transparent,
            hsl( from var(--cur-color) h calc(s * 0.2) calc(l * 0.05) )
        ),
        linear-gradient(
            to bottom,
            hsl( from var(--cur-color) calc(h - 5) calc(s * 0.2) calc(l * 0.15) ),
            hsl( from var(--cur-color) h calc(s * 0.2) calc(l * 0.2) ),
            hsl( from var(--cur-color) calc(h + 5) calc(s * 0.2) calc(l * 0.15) ),
            hsl( from var(--cur-color) h calc(s * 0.2) calc(l * 0.1) ),
            hsl( from var(--cur-color) calc(h - 5) calc(s * 0.2) calc(l * 0.15) )
        );
        
    --block-bg-grad:
        radial-gradient(
            ellipse 40% 40%,
            hsl( from var(--cur-color) h calc(s * 0.2) calc(l * 0.225) ),
            hsl( from var(--cur-color) h calc(s * 0.15) calc(l * 0.125) )
        );
        
    --block-bg-grad-hover:
        radial-gradient(
                ellipse 70% 70%,
                hsl( from var(--cur-color) h calc(s * 0.2) calc(l * 0.55) ),
                hsl( from var(--cur-color) h calc(s * 0.35) calc(l * 0.1) )
        );
    
    --block-bg-grad-active:
        radial-gradient(
            ellipse 60% 60%,
            hsl( from var(--cur-color) h calc(s * 0.30) calc(l * 0.75) ),
            hsl( from var(--cur-color) h calc(s * 0.65) calc(l * 0.20) )
        );
        
    --btn-bg-grad-disabled:
        radial-gradient(
            ellipse 40% 40%,
            hsl( from var(--cur-color) h calc(s * 0.15) calc(l * 0.175) ),
            hsl( from var(--cur-color) h calc(s * 0.1) calc(l * 0.075) )
        );
    
    --dis-grad:
        linear-gradient(
                105deg,
                hsl( from var(--cur-color) calc(h - 5) calc(s * 0.1) calc(l * 0.55) ),
                hsl( from var(--cur-color) h calc(s * 0.05) calc(l * 0.4) ),
                hsl( from var(--cur-color) calc(h + 5) calc(s * 0.1) calc(l * 0.55) ),
                hsl( from var(--cur-color) h calc(s * 0.05) calc(l * 0.7) ),
                hsl( from var(--cur-color) calc(h - 5) calc(s * 0.1) calc(l * 0.55) )
            );
        
    --text-grad:
        linear-gradient(
            105deg,
            hsl( from var(--cur-color) calc(h - 5) calc(s * 0.8) calc(l * 0.75)),
            hsl( from var(--cur-color) h calc(s * 0.8) calc(l * 0.6)),
            hsl( from var(--cur-color) calc(h + 5) calc(s * 0.8) calc(l * 0.75)),
            hsl( from var(--cur-color) h calc(s * 0.8) calc(l * 0.9)),
            hsl( from var(--cur-color) calc(h - 5) calc(s * 0.8) calc(l * 0.75))
        );
    
}

svg { /* change selector! */
    /**
    fill: url(#text-grad) !important;
    /**
    fill: red !important;
    /**/
}

/*
svg > * {
    fill: inherit;
}