@font-face {
    font-family: infex;
    src: url(../res/fonts/infex-main-100.ttf);
}

@font-face {
   font-family: "Goodhers Hooney";
   src: url(../res/fonts/GoodhersHooney.ttf);
}

@font-face {
   font-family: fraiche;
   src: url(../res/fonts/fraiche.ttf);
}


:root {
    font-family: "Goodhers Hooney", sans-serif;
    font-size: 4vh;
    color: hsl(var(--m-hue), calc(var(--m-sat) * 0.8), calc(var(--m-lum) * 0.75));
}

.lable {
    font-family: fraiche, serif;
    font-size: 2rem !important;
}

.text {
    
    background: var(--text-grad);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    /*
    display: block;
    margin: auto;
    width:
        calc(var(--ring-size) * 2 /* side rings * /
        + calc(var(--btn-size) - var(--ring-size)) /* padding */
        /*+ var(--btn-size) /* insides* /;
    height: auto;
    max-width: 90%;
    */
}
