.hidden {
    transform: scale(20%) !important;
    filter: opacity(0%) !important;
    will-change: transform, filter;
    transition: all 0.3s ease-in;
}

.hidden .tail {
    transition: all 0.3s ease-in;
}

.active {
    fill: #fff;
    text-shadow: 0 0 10px #f55;
    will-change: text-shadow;
    transition: all 0.3s ease-out;
}


.masked {
    filter: opacity(10%);
}