.hidden {
    transform: scale(20%) !important;
    filter: opacity(0%) !important;
    will-change: transform, filter;
    transition: all 0.3s ease-in;
}

.hidden.bubble .tail {
    transition: all 0.3s ease-in;
}

.hidden#choice {
    bottom: calc(-1 * var(--cho-size));
}


.active * {
    fill: initial;
}

.active {
    fill: #fff;
    transition: all 0.3s ease-out;
}


.active#choice::before {
    transform: scale(2000%);
    filter: opacity(60%);
}


.masked {
    filter: opacity(5%);
    transform: scale(80%);
}