@keyframes bg_anim {     
    0% {
        background-position: 0 0, 0 0;
    }  
    100% {
        background-position: 0 0, 0 5vw;
    }
}

html {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    
    margin: 0;
    min-height: 100vh;
    
    background: var(--bg-grad);
    background-size: cover, 100% 5vw;
    background-repeat: no-repeat, repeat;
    background-position: center;
    
    animation: bg_anim 2s linear infinite;
}