@font-face {
    font-family: infex;
    src: url(../fonts/infex-main-100.ttf);
}

:root {
    font-family: infex, monospace;
    font-size: 1em;
}


.buttons {
    display: grid;
    grid-template-columns: var(--btn-size) var(--btn-size) var(--btn-size);
    place-content: space-evenly;
    width: 100%;
    height: 100%;
}