:root {
    --m-hue: 149;
    --m-sat: 100%;
    --m-lum: 100%;
    
    --bg-grad:
        radial-gradient(
            ellipse 85% 85%,
            transparent,
            hsl( var(--m-hue), calc(var(--m-sat) * 0.2), calc(var(--m-lum) * 0.05) )
        ),
        linear-gradient(
            to bottom,
            hsl( calc(var(--m-hue) - 5), calc(var(--m-sat) * 0.2), calc(var(--m-lum) * 0.15) ),
            hsl( var(--m-hue), calc(var(--m-sat) * 0.2), calc(var(--m-lum) * 0.2) ),
            hsl( calc(var(--m-hue) + 5), calc(var(--m-sat) * 0.2), calc(var(--m-lum) * 0.15) ),
            hsl( var(--m-hue), calc(var(--m-sat) * 0.2), calc(var(--m-lum) * 0.1) ),
            hsl( calc(var(--m-hue) - 5), calc(var(--m-sat) * 0.2), calc(var(--m-lum) * 0.15) )
        );
        
    --block-bg-grad:
        radial-gradient(
            ellipse 40% 40%,
            hsl( var(--m-hue), calc(var(--m-sat) * 0.2), calc(var(--m-lum) * 0.225) ),
            hsl( var(--m-hue), calc(var(--m-sat) * 0.15), calc(var(--m-lum) * 0.125) )
        );
        
    --block-bg-grad-hover:
        radial-gradient(
                ellipse 70% 70%,
                hsl( var(--m-hue), calc(var(--m-sat) * 0.2), calc(var(--m-lum) * 0.55) ),
                hsl( var(--m-hue), calc(var(--m-sat) * 0.35), calc(var(--m-lum) * 0.1) )
        );
    
    --block-bg-grad-active:
        radial-gradient(
            ellipse 60% 60%,
            hsl( var(--m-hue), calc(var(--m-sat) * 0.30), calc(var(--m-lum) * 0.75) ),
            hsl( var(--m-hue), calc(var(--m-sat) * 0.65), calc(var(--m-lum) * 0.20) )
        );
        
        --dis-grad:
            linear-gradient(
                    105deg,
                    hsl( calc(var(--m-hue) - 5), calc(var(--m-sat) * 0.1), calc(var(--m-lum) * 0.55) ),
                    hsl( var(--m-hue), calc(var(--m-sat) * 0.05), calc(var(--m-lum) * 0.4) ),
                    hsl( calc(var(--m-hue) + 5), calc(var(--m-sat) * 0.1), calc(var(--m-lum) * 0.55) ),
                    hsl( var(--m-hue), calc(var(--m-sat) * 0.05), calc(var(--m-lum) * 0.7) ),
                    hsl( calc(var(--m-hue) - 5), calc(var(--m-sat) * 0.1), calc(var(--m-lum) * 0.55) )
                );
        
    --text-grad:
        linear-gradient(
            105deg,
            hsl(calc(var(--m-hue) - 5), calc(var(--m-sat) * 0.8), calc(var(--m-lum) * 0.75)),
            hsl(var(--m-hue), calc(var(--m-sat) * 0.8), calc(var(--m-lum) * 0.6)),
            hsl(calc(var(--m-hue) + 5), calc(var(--m-sat) * 0.8), calc(var(--m-lum) * 0.75)),
            hsl(var(--m-hue), calc(var(--m-sat) * 0.8), calc(var(--m-lum) * 0.9)),
            hsl(calc(var(--m-hue) - 5), calc(var(--m-sat) * 0.8), calc(var(--m-lum) * 0.75))
        );
    
}

svg {
    fill: url(#text-grad) !important;
}

svg > * {
    fill: inherit;
}