#cover {
    position: fixed;
    z-index: 100;
    background:
        linear-gradient(
            to bottom,
            black 40%,
            transparent 100%
        );
    top: 0;
    left: 0;
    width: 100vw;
    height: 250vh;
    will-change: height;
    transition: 1.4s height ease-out;
}