#input {
    display: flex;
    flex-flow: column;
    align-content: space-evenly;
    bottom: auto;
    transform: scale(0);
    opacity: 0;
    will-change: transition, opacity;
    transition:
        0.5s transform ease-out,
        0.5s opacity ease-out;
}

#values {
    margin: auto;
    height: 2rem;
    background: hsl(var(--m-hue), var(--m-sat), var(--m-lum));
    color: hsl(calc(var(--m-hue) + 180), calc(100 - var(--m-sat)), calc(100 - var(--m-lum)));
    border: 0.2rem solid hsl(var(--m-hue), calc(var(--m-sat) * 0.2), calc(var(--m-lum) * 0.1));
    border-radius: 2rem;
    text-align: center;
}

#message {
    overflow: show;
    max-width: 50%;
    min-height: 30%;
    margin: auto;
}